            <p>
            My friends:
            <br/>
            <% current_user.friends.each do |friend| %>
              <%= image_tag friend.image_url %>
              <%= friend.fname+" "+friend.lname %>
              <br/>
            <% end %>
            </p>